<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Privet Limited</div>
        <div class="f-info-links">
            
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->
 
<footer class="site-footer mt-4">
  
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h6>Support</h6>
          <ul class="footer-links">
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">Get help with a safety issue</a></li>
            <li><a href="#">AirCover</a></li>
            <li><a href="#">Anti-discrimination</a></li>
            <li><a href="#">Disability support</a></li>
            <li><a href="#">Cancellation options</a></li>
            <li><a href="#">Report neighbourhood concern</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h6>Hosting</h6>
          <ul class="footer-links">
            <li><a href="#">WanderLust your home</a></li>
            <li><a href="#">AirCover for Hosts</a></li>
            <li><a href="#">Hosting resources</a></li>
            <li><a href="#">Community forum</a></li>
            <li><a href="#">Hosting responsibly</a></li>
            <li><a href="#">Join a free Hosting class</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4">
          <h6>WanderLust</h6>
          <ul class="footer-links">
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">New features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">WanderLust.org emergency stays</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="footer-section">&copy; 2024 WanderLust, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a> · <a href="#">Sitemap</a> · <a href="#">Company details</a></p>
          <!-- <p class="footer-section">
             <select><option>English (IN)</option></select>
            <select><option>₹ INR</option></select>
          </p> -->
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
          
            <li><a class="facebook" href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
<style>
  .site-footer {
    background-color: #f7f7f7;
    color: #484848;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    border-top: 1px solid #dbd4d4;
}
 
.site-footer h6 {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
    font-weight: bold;
    text-decoration: solid;
}
 
.site-footer h6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: #e7131a;
}

.site-footer p {
    color: #737373;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #111010;
    text-decoration: none;
}

.footer-links a:hover {
    color: #e7131a;
}

.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.social-icons li {
    margin-left: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #e7131a;
    color: #fff;
    font-size: 16px;
    transition: background 0.3s;
}

.social-icons a:hover {
    background: #333;
    color: #e7131a;
}

.footer-section {
    margin: 0;
    color: #737373;
}
 

.footer-section a {
    color: #737373;
    margin-left: 10px;
    text-decoration: none;
}

.footer-section a:hover {
    color: #e7131a;
}

.footer-section select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e7131a;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.footer-section select option {
    background-color: #333;
    color: #fff;
}
.row p{
  color: #111010;
}
.row p a{
  color: #111010;
}      
</style>  